{{set . "title" "History blogs - GBlog"}}  
{{set . "history" "active" }}  
{{template "header.html" .}}  

<div class="am-g am-g-fixed blog-g-fixed"> 
	<div class="am-u-lg-12">
	  <h2 style="font-size: 180%;padding: 10px 0px 10px;text-align: center">博客归档</h2>  
	</div>
	<div class="am-u-lg-12">	      
        {{if .historys}}  
        {{range $index,$history :=.historys}}  
         
          <div class="panel-heading" style="font-size:150%; padding:0;border-bottom: 2px dashed #ccc;">  
            <a data-toggle="collapse" data-toggle="collapse" data-parent="#his" href="#collapseOne{{$index}}">{{$history.Year}}</a>  
          </div> 
		
          <div id="collapseOne{{$index}}" class="panel-collapse collapse in">  
            <div class="panel-body" style="padding:0 20px;">  
              <ul class="am-list">  
                {{if $history.Blogs }}  
                {{range $blog :=$history.Blogs}} 				
				<li class="am-cf"> 
				    <time class="am-fl" style="padding: 10px 30px 0px 10px; text-align: center;"> {{$blog.CDate.Format "2006-01-02"}}</time>
				    <a href="#">{{$blog.GetShortTitle }}</a>
					<span class="am-list-date">By {{$blog.Email}}</span>
		 		</li> 
                <!--<li><time>{{$blog.CDate.Format "2006-01-02"}}</time><a href="#">{{$blog.GetShortTitle }}</a><span class="history-auth">By {{$blog.Email}}</span></li>-->  
                {{end}}  
                {{end}}  
              </ul>  
            </div>  
          </div>  
         
        {{end}}  
        {{end}}  
	</div>
	
</div> 
{{template "footer.html" .}} 